@import "../styles/variables.scss";

.app {
    display: grid;
    grid-template-areas: "h h h " ". m ." "f f f";
    grid-template-columns: $main-side-margin 1fr $main-side-margin;
    grid-template-rows: $header-height 1fr $footer-height;

    min-height: 100vh;
    min-width: 1024px;

    .header {
        grid-area: h;

        position: sticky;
        top: 0;

        height: $header-height;
        width: 100%;
    }

    .main {
        grid-area: m;
    }

    .footer {
        grid-area: f;
    }
}
