@import "../styles/variables.scss";

.app {
    display: grid;
    grid-template-areas: "h h h " ". m ." "f f f";
    grid-template-columns: 128px 1fr 128px;
    grid-template-rows: $header-height 1fr $footer-height;

    min-height: 100vh;
    min-width: 1024px;

    .app-header {
        grid-area: h;

        position: fixed;

        height: $header-height;
        width: 100%;

        // TODO Remove
        background-color: hotpink;
    }

    .app-main {
        grid-area: m;

        // TODO Remove
        background-color: yellow;
    }

    .app-footer {
        grid-area: f;

        // TODO Remove
        background-color: hotpink;
    }
}
