@import "../styles/variables.scss";

.page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 100%;

    background-color: $theme-primary-light;

    .title {
        font-size: 1000%;
    }
}
