{
    "extends": "stylelint-config-standard",
    "rules": {
        "color-hex-length": "long",
        "indentation": 4,
        "selector-class-pattern": "^[a-z]+(-[a-z]+)*$",
        "string-quotes": "double"
    }
}
