@import "../styles/variables.scss";

%titlepage {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;

    .title {
        margin: 64px 0;
    }

    .message {
        text-align: center;
    }
}

%button {
    width: 100%;

    padding: 6px 12px;

    border: 1px solid $shadow-color;
    border-radius: 2px;

    // Patch for normalize font size on buttons
    font-size: 16px;

    &:hover {
        cursor: pointer;
    }

    &.square {
        border-radius: 0;
    }

    &.round {
        border-radius: 100%;
    }

    &.neutral {
        color: $theme-secondary-text;
        background-color: $color-neutral;

        &:hover {
            background-color: $color-neutral_hover;
        }

        &:active {
            background-color: $color-neutral_active;
        }
    }

    &.accent {
        color: $theme-primary-text;
        background-color: $color-accent;

        &:hover {
            background-color: $color-accent_hover;
        }

        &:active {
            background-color: $color-accent_active;
        }
    }
}

%input {
    width: 100%;

    padding: 6px 12px 4px 12px;

    background: none;
    border: none;
    border-bottom: 2px solid $shadow-color-light;
    border-radius: 2px;

    &:hover {
        background-color: $color-neutral_hover;
    }

    &:focus {
        border-bottom: 2px solid $shadow-color;
        outline: none;
    }

    &.neutral {
        color: $theme-secondary-text;
    }

    &.accent {
        color: $theme-primary-text;
    }
}

%table-number-cell {
    text-align: right;
}
