@import "variables.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
    overflow-y: scroll;

    font-family: "Roboto", sans-serif;
}

// Globally applicable classes
.g-link {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &.primary {
        color: $clickable-color-primary;

        &:hover {
            color: $clickable-color-primary_hover;
        }

        &:active {
            color: $clickable-color-primary_active;
        }
    }

    &.secondary {
        color: $clickable-color-secondary;

        &:hover {
            color: $clickable-color-secondary_hover;
        }

        &:active {
            color: $clickable-color-secondary_active;
        }
    }
}
