// Headers
%header {
    font-weight: bold;
}

%h1 {
    @extend %header;

    font-size: 175%;
    margin: 0;
}

%h2 {
    @extend %header;

    font-size: 150%;
    margin: 0;
}

%h3 {
    @extend %header;

    font-size: 120%;
    margin: 0;
}
