// Color theme
$theme-primary: #b30811;
$theme-primary-light: #ed4c3a;
$theme-primary-dark: #7c0000;
$theme-primary-text: #ffffff;

$theme-secondary: #d9a470;
$theme-secondary-light: #ffd59f;
$theme-secondary-dark: #a57544;
$theme-secondary-text: #000000;

// Colors
$color-background: rgb(245, 245, 240);
$color-card-background: #ffffff;

$color-neutral: #ffffff;
$color-neutral_hover: darken($color-neutral, 4%);
$color-neutral_active: darken($color-neutral, 16%);

$color-accent: #0000bf;
$color-accent_hover: lighten($color-accent, 15%);
$color-accent_active: darken($color-accent, 15%);

$error-color: #ff0000;

$shadow-color: rgba(0, 0, 0, 0.75);
$shadow-color-light: rgba(0, 0, 0, 0.25);
$shadow-color-lighter: rgba(0, 0, 0, 0.1);

// Layout
$header-height: 64px;
$main-side-margin: 128px;
$footer-height: 256px;
