// Color theme
$theme-primary: #b30811;
$theme-primary-light: #ed4c3a;
$theme-primary-dark: #7c0000;
$theme-primary-text: #ffffff;

$theme-secondary: #d9a470;
$theme-secondary-light: #ffd59f;
$theme-secondary-dark: #a57544;
$theme-secondary-text: #000000;

// Colors
$clickable-color-primary: mix($theme-primary-text, #ffff00, 75%);
$clickable-color-primary_hover: lighten($clickable-color-primary, 5%);
$clickable-color-primary_active: darken($clickable-color-primary, 5%);

$clickable-color-secondary: mix($theme-secondary-text, #0000ff, 25%);
$clickable-color-secondary_hover: lighten($clickable-color-secondary, 15%);
$clickable-color-secondary_active: darken($clickable-color-secondary, 15%);

$color-neutral: #ffffff;
$color-neutral_hover: darken($color-neutral, 10%);

$error-color: #ff0000;

$shadow-color: rgba(0, 0, 0, 0.75);

// Layout
$header-height: 64px;
$main-side-margin: 128px;
$footer-height: 256px;
