// Color theme
$theme-primary: #b30811;
$theme-primary-light: #ed4c3a;
$theme-primary-dark: #7c0000;
$theme-primary-text: #ffffff;

$theme-secondary: #d9a470;
$theme-secondary-light: #ffd59f;
$theme-secondary-dark: #a57544;
$theme-secondary-text: #000000;

// Colors
$link-color: #86c5ff;
$link-color_active: #5695f5;
$link-color_visited: #9685c5;

$error-color: $theme-primary-dark;

// Layout
$header-height: 64px;
$main-side-margin: 128px;
$footer-height: 256px;
