@import "../../styles/variables.scss";

.link {
    text-decoration: none;

    &:hover:not(.active) {
        text-decoration: underline;
    }

    &.neutral {
        color: $color-neutral;

        &:hover:not(.active) {
            color: $color-neutral_hover;
        }

        &.active {
            color: $color-neutral_active;
        }
    }

    &.accent {
        color: $color-accent;

        &:hover:not(.active) {
            color: $color-accent_hover;
        }

        &.active {
            color: $color-accent_active;
        }
    }
}

.route-link {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;

    &.active {
        padding-top: 2px;

        border-bottom: 2px solid $color-neutral;
    }
}
