.footer-section {
    display: flex;
    flex-direction: column;

    .title {
        margin-bottom: 4px;
    }

    .section-wrapper {
        max-width: 172px;

        margin-left: 8px;

        > * {
            margin-bottom: 8px;
        }
    }
}
