@import "../../styles/variables.scss";

.site-footer {
    display: flex;

    height: 100%;

    padding: 32px 64px;

    background-color: $theme-secondary;

    > * {
        margin: 0 32px;
    }

    .copyright {
        flex-grow: 1;

        margin: auto 0;
    }
}
