@import "../../styles/typography.scss";
@import "../../styles/variables.scss";

.site-navigation {
    ul {
        display: flex;
        align-items: center;

        li {
            @extend %h3;

            margin-left: 32px;
        }
    }
}
