@import "../../styles/variables";

.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    padding: 0 64px;

    background-color: $footer-background;
}
