@import "../../styles/variables";

.page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;

    background-color: $theme-primary-light;

    .title {
        margin-bottom: 64px;

        font-size: 1000%;
    }

    .message {
        text-align: center;
    }
}
