@import "../../../styles/bases.scss";
@import "../../../styles/variables.scss";

.page-not-found {
    @extend %titlepage;

    color: $theme-primary-light;

    .title {
        margin: 32px;

        font-size: 1000%;
    }
}
