@import "../../../styles/variables.scss";

.data-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 0;

    padding: 0 16px;
    margin-bottom: 16px;

    color: $theme-primary-text;
    background-color: $theme-primary-light;

    overflow: hidden;

    transition: height 200ms ease-in-out;

    &.open {
        height: 64px;
    }

    .control-buttons {
        display: flex;
        width: 256px;

        :first-child {
            margin-right: 8px;
        }
    }
}
