@import "../../../styles/variables.scss";

.hours-page {
    .controls {
        position: sticky;
        top: $header-height;
    }

    .weeks {
        padding: 16px 0;
    }

    .show-all-button {
        margin-bottom: 32px;
    }
}
