@import "../../../styles/variables.scss";
@import "./hours-page-variables.scss";

.totals-row {
    display: flex;

    text-align: right;

    .total-label {
        text-align: center;
        font-weight: bold;
    }

    .total-value {
        // Magic number to position the total at the same position as the input numbers below
        padding-right: 14px;

        font-weight: normal;
    }

    .total-hours,
    .total-ss {
        width: $number-width;

        margin: $cell-margin;
    }
}
