@import "../../../styles/variables.scss";
@import "./hours-page-variables.scss";

.totals-row {
    display: flex;

    width: 100%;

    text-align: right;

    .total-label {
        text-align: center;
        font-weight: bold;
    }

    .total-value {
        // Magic number to position the total at the same position as the input numbers below
        //padding-right: 14px;
        text-align: center;

        font-weight: normal;

        white-space: nowrap;
    }

    .total-row {
        width: $number-width;

        margin: $cell-margin;

        & .total {
            flex: 1;
        }
    }
}
