@import "../../../styles/variables.scss";
@import "./hours-page-variables.scss";

.totals-row {
    display: flex;

    padding: 8px;

    background-color: $shadow-color-light;
    text-align: center;

    .total-label {
        font-weight: bold;
    }

    .total-header {
        width: $date-width + 24px;
    }

    .total-hours {
        width: $number-width;

        margin: $cell-margin;
    }

    .total-ss {
        width: $number-width;

        margin: $cell-margin;
    }
}
