@import "../../../styles/bases.scss";
@import "../../../styles/variables.scss";
@import "../../../styles/typography.scss";

.week-table {
    padding: 16px 32px;

    .title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;

        .dates {
            font-weight: normal;
        }
    }

    .content {
        .date {
            // Table rows
            .date-header {
                @extend %header;

                background-color: $shadow-color-lighter;
                font-style: italic;
                padding: 4px 8px;
            }

            .project {
                display: flex;
                padding: 4px 8px;

                // Table columns
                .project-header {
                    @extend %header;

                    display: flex;
                    align-items: center;
                    width: 196px;
                }

                .hours {
                    @extend %table-number-cell;

                    width: 78px;
                }

                .ss {
                    @extend %table-number-cell;

                    width: 78px;
                }

                .notes {
                    flex: 1;
                    padding-left: 8px;
                }
            }
        }
    }

    @media print {
        page-break-inside: avoid;
    }
}
