@import "../../../styles/bases.scss";
@import "../../../styles/variables.scss";

.week-table {
    padding: 16px 32px;

    .title {
        margin-bottom: 32px;

        .dates {
            float: right;

            font-weight: normal;
        }
    }

    .table {
        width: 100%;
    }

    // Table columns
    .status {
        width: 16px;

        text-align: center;
    }

    .date {
        width: 148px;

        padding: 0 8px;

        font-style: italic;
    }

    .hours-no {
        @extend %table-number-cell;

        width: 99px;
        min-width: 64px;
    }

    .ss-no {
        @extend %table-number-cell;

        width: 99px;
        min-width: 64px;
    }

    .hours-o {
        @extend %table-number-cell;

        width: 99px;
        min-width: 64px;
    }

    .ss-o {
        @extend %table-number-cell;

        width: 99px;
        min-width: 64px;
    }

    .ot {
        @extend %table-number-cell;

        width: 99px;
        min-width: 64px;
    }

    // Table rows
    .weekend {
        background-color: $shadow-color-lighter;
    }

    @media print {
        page-break-inside: avoid;
    }
}
