@import "../styles/variables.scss";

%card {
    background-color: $color-card-background;
    border-radius: 2px;

    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1 {
    @extend %card;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    &.clickable:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}

.card-2 {
    @extend %card;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    &.clickable:hover {
        box-shadow: 0 18px 33px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}

.card-3 {
    @extend %card;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    &.clickable:hover {
        box-shadow: 0 24px 38px rgba(0, 0, 0, 0.3), 0 10px 12px rgba(0, 0, 0, 0.21);
    }
}

.card-4 {
    @extend %card;

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    &.clickable:hover {
        box-shadow: 0 30px 42px rgba(0, 0, 0, 0.32), 0 12px 12px rgba(0, 0, 0, 0.21);
    }
}

.card-5 {
    @extend %card;

    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

    &.clickable:hover {
        box-shadow: 0 36px 46px rgba(0, 0, 0, 0.35), 0 14px 14px rgba(0, 0, 0, 0.21);
    }
}
