@import "../styles/variables.scss";

.link {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &.neutral {
        color: $color-neutral;

        &:hover {
            color: $color-neutral_hover;
        }

        &:active {
            color: $color-neutral_active;
        }
    }

    &.accent {
        color: $color-accent;

        &:hover {
            color: $color-accent_hover;
        }

        &:active {
            color: $color-accent_active;
        }
    }
}
