@import "../styles/animations.scss";
@import "../styles/variables.scss";

$border-width: 8px;

.loader {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: $shadow-color-light;

    .spinner {
        height: 64px;
        width: 64px;

        border: $border-width inset $theme-primary;
        border-radius: 100%;

        animation: spin 2s infinite ease-in-out;
    }
}
