@import "../styles/variables.scss";

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    padding: 0 32px;

    background-color: $header-background;
}
