@import "../styles/typography.scss";
@import "../styles/variables.scss";

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    padding: 0 32px;

    color: $theme-primary-text;
    background-color: $theme-primary;

    .title {
        display: flex;
        align-items: center;

        .logo {
            height: 32px;
            width: 32px;

            margin-right: 16px;
        }

        .label {
            @extend %h1;
        }
    }
}
