@import "../styles/typography.scss";
@import "../styles/variables.scss";

.table {
    thead {
        tr {
            border-bottom: 1px solid $shadow-color;

            th {
                padding: 8px;

                font-weight: bold;
            }
        }
    }

    tbody {
        tr {
            td {
                font-size: 50%;
            }
        }
    }

    tfoot {
        tr {
            border-top: 1px solid $shadow-color;

            td {
                font-style: italic;
            }
        }
    }
}
