@import "../styles/typography.scss";

.table {
    thead {
        tr {
            th {
                height: 32px;

                font-weight: bold;
            }
        }
    }

    tbody {
        tr {
            td {
                font-size: 50%;
            }
        }
    }

    tfoot {
        tr {
            td {
                font-size: 150%;
            }
        }
    }
}
