@import "../styles/typography.scss";
@import "../styles/variables.scss";

.table {
    padding: 0;

    border-collapse: collapse;

    thead {
        tr {
            border-bottom: 2px solid $shadow-color;

            th {
                padding: 8px;

                font-weight: bold;
            }
        }
    }

    tbody {
        tr {
            td {
                padding-top: 4px;
                padding-bottom: 4px;

                font-size: 100%;
            }
        }
    }

    tfoot {
        tr {
            border-top: 2px solid $shadow-color;

            td {
                padding: 8px;

                font-style: italic;
            }
        }
    }
}
